@model List<MetricsViewModel>

@{
    ViewData["Title"] = "Home Page";
}

@section Styles
{
    <link rel="stylesheet" href="/css/metrics.css">
    <script src="/js/metrics.js"></script>
}

<div class="sort-container">
    <select id="sort-select">
        <option value="CampaignName">По названию</option>
        <option value="ConversionRate">По конверсии</option>
        <option value="LifetimeValue">По LTV</option>
        <option value="ClickThroughRate">По CTR</option>
        <option value="CostPerClick">По CPC</option>
        <option value="CostPerInstall">По CPI</option>
        <option value="CustomerAcquisitionCost">По CAC</option>
        <option value="ReturnOnMarketingInvestment">По ROMI</option>
        <option value="AverageRevenuePerPayingUser">По ARPPU</option>
    </select>
    <button class="sort-button">Сортировать</button>
</div>

<div class="metrics-card">
    @foreach (var item in @Model)
    {
        <div class="metric-card" data-id="@item.Id">
            <div class="metric-content">
                <div>@item.CampaignName</div>
                <div>Конверсия: @item.ConversionRate%</div>
                <div>LTV: @item.LifetimeValue</div>
                <div>CTR: @item.ClickThroughRate%</div>
                <div>CPC: @item.CostPerClick</div>
                <div>CPI: @item.CostPerInstall</div>
                <div>CAC: @item.CustomerAcquisitionCost</div>
                <div>ROI: @item.ReturnOnMarketingInvestment%</div>
                <div>ARPPU: @item.AverageRevenuePerPayingUser</div>
            </div>
            <button class="delete-button">Удалить</button>
        </div>
    }
</div>

